Flask==2.0.2
Werkzeug==2.0.2
itsdangerous==2.0.1
flask-pymongo==2.3.0
Jinja2==3.0.3
click==8.0.3
colorama==0.4.4
MarkupSafe==2.0.1
soupsieve==2.3.1
chardet==4.0.0
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==3.3
requests==2.26.0
urllib3==1.26.7
six==1.16.0
certifi==2021.10.8
pymongo==4.0
dnspython==2.1.0
ssl==1.16